.textspfont{
    color: #333333;
    font-size: 10pt;
}
.textls{
    color: #0000ff;
}

.payment {
    padding: 100px 0;
}

.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
}

.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.payment-top-item- i {
    color: #dddd;
}

.payment-top-payment {
    border: 1px solid #0DB7EA;
}

    .payment-top-payment i {
        color: #0DB7EA;
    }

.payment-content-right {
    width: 60%;
    box-sizing: 2px solid #ddd;
    padding-left: 12px;
}

.payment-content-left p, label {
    font-size: 12px;
    font-family: var(--main-text-font);
}

.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashshed #dddddd;
}

    .payment-content-right-button input {
        height: 30px;
        width: 200px;
        margin-right: 100px;
        padding-left: 12px;
    }

.payment-content-right-button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-content-right-mnv {
    margin-top 20px;
}

.payment-content-right-mnv {
    height: 30px;
    width: 100%;
    color: #75758A;
    padding-left: 12px;
}

.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

    .payment-content-right-payment button {
        height: 35px;
        padding: 0 20px;
        font-size: 12px;
        color: black;
        cursor: pointer;
        transition: all 0.3ss ease;
        border: 2px slod black;
    }

        .payment-content-right-payment button:hover {
            background-color: black;
            color: #fff;
        }